
.main {
    margin-left: 250px;
    padding: 20px;
}

.form-container {
    background-color: #aff4aa;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    margin: 0 auto;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .phone-input {
    display: flex;
}

.form-group .phone-input input {
    flex: 1;
}

.form-group .phone-input select {
    width: 60px;
    margin-right: 5px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.form-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons .cancel {
    background-color: #ccc;
    margin-right: 10px;
}

.form-buttons .create {
    background-color: #6c63ff;
    color: #fff;
}