.custom-btn {
    width: 150px; /* Consistent button width */
    height: 60px; /* Consistent button height */
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }
  
  .custom-btn i {
    margin-right: 8px; /* Add spacing between icon and text */
  }
  
  .custom-btn:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    opacity: 0.9; /* Slight transparency */
  }
  
 
  @media (max-width: 768px) {
    .custom-btn {
      width: 100%; /* Full width for smaller screens */
      margin-bottom: 10px;
    }
  
    .shadow {
      width: 100%; 
    }
  }
  .custom-height {
    height: 250px; /* Set the height to 75px */
    align-items: center; /* Ensure content is vertically aligned */
    display: flex; /* Flexbox ensures proper alignment */
    justify-content: space-between; /* Space out the buttons */
    padding: 0 20px; /* Adjust padding for a better fit */
  }
  