.graph-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .graph-box {
    width: 70%;
    height: 400px;
    /* border: 1px solid black; */
  }