h1 {
  color: red;
}

.lg-Box {
  width: 80%;
  height: 500px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.lg-head {
  font-family: "Roboto", sans-serif;
}

.lgImg img {
  width: 80%;
  height: 70%;
  border-radius: 10px;
}
.lg-head p:first-child {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}
.lg-head p:last-child {
  font-size: 11px;
  margin-top: 6px;
  color: #636364;
  letter-spacing: 1px;
}
.lg-head {
  text-align: center;
}

.log-content {
  width: 26%;
}
.i-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.i-box input {
  width: 240px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid gray;
  width: 95%;
  margin: 0 auto;
}
.i-box :last-child {
  margin-top: 5px;
}

.remme {
  display: flex;
  gap: 5px;
}

.fp {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.signBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  border: none;
  height: 30px;
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
}

.google img {
  width: 30px;
  height: 30px;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid grey;
  height: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
}

.t {
  margin-left: 10px;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
}

.spf {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
.spf span {
  color: red;
}