.nt{
    height: 31.2rem;
    width: 100%;
    border-radius: 1.89rem;
    margin-bottom: 3.15rem;
    background-color:#eebefa ;
    
}
.nh{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
}
.na{
    font-size: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 230px;
    gap: 15px;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.card-label {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: #007BFF;
    padding: 3px 8px;
    border-radius: 4px;
    align-self: flex-start;
}

.card-label.permanent {
    background-color: #28a745;
}