* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .signupbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  
  .container {
    background: #fff;
    padding: 40px 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 800px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    margin-top: 5px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .gender-group {
    display: flex;
    align-items: center;
  }
  
  .gender-group label {
    margin-right: 15px;
    font-weight: normal;
  }
  
  .gender-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .register-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

  }
  
  .register-btn:hover {
    background: linear-gradient(to right, #3a4d7c, #121a2b);
  }
  
